.block {
    display: block;
}

.warning {
    color: red;
}

.submit {
    padding: 5px;
}

.tl_formbody_edit .text,
.tl_formbody_edit .select {
    width: 45%;
}

.tl_formbody_edit label {
    font-weight: bold;
}

.select {
    margin-bottom: 6px;
}

.code_generator {
    background-image: url('../images/key_generator.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-bottom: 40px;
}

.confirmation {
    min-height: 300px;
    margin-left: 25px;
    background-position: right top;
}

.warningbox {
    border: 1px solid #666;
    background-color: rgba(255, 117, 119, 0.56);
    padding: 5px;
    margin-bottom: 20px;
}

.warningbox p {
    color: #666;
    font-size: 11px;
}